[submodule "lab1"]
	path = lab1
	url = https://github.com/Aramismas/lab1.git
[submodule "lab2"]
	path = lab2
	url = https://github.com/Aramismas/lab2.git
[submodule "lab3"]
	path = lab3
	url = https://github.com/Aramismas/lab3.git
[submodule "lab4"]
	path = lab4
	url = https://github.com/Aramismas/lab4.git
[submodule "lab5"]
	path = lab5
	url = https://github.com/Aramismas/lab5.git
[submodule "lab6"]
	path = lab6
	url = https://github.com/Aramismas/lab6.git
[submodule "lab7"]
	path = lab7
	url = https://github.com/Aramismas/lab7.git
[submodule "lab8"]
	path = lab8
	url = https://github.com/Aramismas/lab8.git
